.nav{
  display: flex;
  justify-content: center;
}

.ul_nav {
  display: flex;
  list-style-type: none;
  padding: 5px;
  color: rgb(255, 255, 255);
  gap: 24px;
}

.skillsnav,
.project,
.contacts{
  border: 2px solid #ffffff;
  border-radius: 15px;
  padding: 15px;

}

.intro{
  display: flex;
  flex-direction: column;
  place-items: center;
  font-family: allan;
  justify-content: center;
  gap: 50px;
  margin-bottom:200px
}

.HW {
  font-size: 70px;
  display: flex;
  color: rgb(255, 255, 255);
}
.imgme {
  width: 90px;
  height: 90px;
  border: 10px;
  border-radius: 90px;
}

.desc {
  display: flex ;
  justify-content: center;
  font-family: 'Allan', serif;
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
}

body  {
  background-image: linear-gradient( 135deg, #240b36 10%, #000000 100%);
}
.navskills {
  color: white;
}
#projectcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 15px;

}

.pro1 {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(13deg, rgb(52, 15, 79) 0%, rgba(23,12,31,1) 100%);
  padding: 20px;
  border-radius: 20px;
  padding: 10px;
  justify-content: center;
  background-size: cover;
  background-position: center;
}
.pro2 {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(13deg, rgb(52, 15, 79) 0%, rgba(23,12,31,1) 100%);
  padding: 20px;
  border-radius: 20px;
  padding: 10px;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.pro3 {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(13deg, rgb(52, 15, 79) 0%, rgba(23,12,31,1) 100%);
  padding: 20px;
  border-radius: 20px;
  padding: 10px;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.pro4 {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(13deg, rgb(52, 15, 79) 0%, rgba(23,12,31,1) 100%);
  padding: 20px;
  border-radius: 20px;
  padding: 10px;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.span {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 20px;
}

span {
  background-color: rgb(0, 0, 0);
  color: rgb(124, 248, 240);
  border: solid ;
  border-radius: 10px;
  padding: 5px;
}

h1 , h3 , p , a {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}


.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

@media only screen and (min-width: 600px) {
  .aboutme {
    flex-direction: row; /* Switch to row layout on larger screens */
    justify-content: center; /* Center content horizontally */
  }

  .text-container {
    margin-right: 20px; /* Add some spacing between text and animation */
    width: 400px;
    padding: 10px;
  }

  .animation-container {
    order: 1; /* Reset the order for animation container */
    margin-left: 10px; /* Add some spacing between text and animation */
  }
}

.ani {
  width: 300px;
}

html {
  scroll-behavior: smooth;
}


#footer {
  background: linear-gradient(13deg,rgb(37, 13, 54) 0%, rgb(70, 22, 70) 100%);
  padding:10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  border-radius: 20px;
  margin-top: 200px;
  align-items: center;
}

#contactinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.contactani {
  display: flex;
  justify-content: center;
  max-width: 600px;
}

@media only screen and (max-width: 600px) {
  #footer {
    display: flex;
    flex-direction: column;
  }
}